*{
    margin: 0;
    padding: 0;
    background-color: #000;
    
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(gif3.gif);
    
    background-repeat: no-repeat;
    background-position: center;
}


.external{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #B50100;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(40%);
}


.mid{
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 2px solid black;
    background: radial-gradient(#460d0d, #B50100);
    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotate(0deg);
    animation: rotates 1.5s 0.5s 3 ease;

}


.mid::before{
    content: "";
    width: 50px;
    height: 30px;
    background-color: white;
    opacity: 0.4;
    top: 40px;
    left: 20;
    border-radius: 50%;
    position: absolute;
    z-index: 80;
    
}

.mid::after{
    content: "";
    width: 35px;
    height: 20px;
    background-color: white;
    opacity: 0.4;
    top: 140px;
    left: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: 80;
    transform: rotate(30deg);
}

.center{
    position:absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}


.midd{
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: black;
    top: 17px;
    left: 0;
    z-index: 50;
    animation: decalage 1s 3s forwards;
}

.midd::before{
    content: ",";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 101px;
    color: black;
    font-size: 200px;
    transform: rotate(-230deg);
    left: 124px;
}


@keyframes decalage{
    from{
        top: 17px;
        left: 0;
    }
    to{
        top: -22px;
        left: 70px;
    }
}


.middd{
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: black;
    bottom: 17px;
    right: 0;
    z-index: 50;
    opacity: 0;
    animation: appear 1s 1.5s forwards,
                bougerDeuxieme 1s 3s forwards;

    
}


.middd::before{
    content: ",";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -98px;
    color: black;
    font-size: 200px;
    transform: rotate(-50deg);
    left: -122px;
}


.midddd::before{
    content: ",";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -153px;
    color: black;
    font-size: 200px;
    transform: rotate(12deg);
    left: 28px;
}

@keyframes bougerDeuxieme{
    from{
        bottom: 17px;
        right: 0;
    }
    to{
        bottom: 27px;
        right: -4px;
    }
}

.midddd{
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: black;
    bottom: 27px;
    left: -4px;
    z-index: 50;
    opacity: 0;
    animation: appear 1s 3.5s forwards;
            
              
}


@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes rotates{
    0%{
        transform: rotate(0);
    }
    
    100%{
        transform: rotate(360deg);
    }
}